{% extends "layout.html" %} {% block body %}

<h1>Register for Frosh</h1>
<form action="/register" method="POST">
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <select name="dorm">
    <option disabled selected value="">Dorm</option>
    <option value="Apley Court">Apley Court</option>
    <option value="Canaday">Canaday</option>
    <option value="Gray">Gray</option>
    <option value="Kanada">Kanada</option>
    <option value="ASDsaldö">ASDsaldö</option>
    <option value="Lorem">Lorem</option>
    <option value="Blabla">Blabla</option>
  </select>
  <input type="submit" value="Register" />
</form>

{% endblock %}
